In [4]:
import pandas as pd
import numpy as np
dataset= pd.read_csv('linearRegression.csv')
type(dataset['YearsExperience'])

pandas.core.series.Series

In [17]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf = SVC(kernel='linear') 
clf.fit(dataset[['YearsExperience']],dataset['Salary'])
clf.predict([[4.0]])
clf.score(dataset[['YearsExperience']],dataset['Salary'])

0.9333333333333333

In [16]:
from sklearn.svm import SVR
from sklearn.metrics import accuracy_score

clf = SVR(kernel='poly',gamma='scale',degree=3) 
print(clf)
clf.fit(dataset[['YearsExperience']],dataset['Salary'])
clf.predict([[4.0]])
clf.score(dataset[['YearsExperience']],dataset['Salary'])

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='poly', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

0.24528956366988952

In [78]:
dataset.iloc[:,0:1].values

numpy.ndarray

In [63]:
classifier = SVC(kernel='rbf', random_state = 1)
classifier.fit(dataset.iloc[:,0:1].values,dataset.iloc[:,1].values)

c:\users\chandano\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=1,
    shrinking=True, tol=0.001, verbose=False)

In [73]:
predicted= classifier.predict([[10]])
predicted

array([122391.])

In [7]:
houseData = pd.read_csv('housing.data.txt', delimiter=" ", header=None, names= ["a", "b", "c", "d","e","f","g","h","i","j","k","l","m","n"])
# houseData.set_index(drop=True)
houseData

,a,b,c,d,e,f,g,h,i,j,k,l,m,n
NaN,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
NaN,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
NaN,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
NaN,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
NaN,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
NaN,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
NaN,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
NaN,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
NaN,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [96]:
houseData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506 entries, 0 to 505
Data columns (total 14 columns):
a    506 non-null float64
b    506 non-null float64
c    506 non-null float64
d    506 non-null float64
e    506 non-null float64
f    506 non-null float64
g    506 non-null float64
h    506 non-null float64
i    506 non-null float64
j    506 non-null float64
k    506 non-null float64
l    506 non-null float64
m    506 non-null float64
n    506 non-null float64
dtypes: float64(14)
memory usage: 59.3 KB

In [95]:
import numpy as np
index=np.arange(506)

In [9]:
houseData['index']=index
houseData.set_index('index',inplace=True)

In [92]:
# houseData= houseData.fillna(0)
houseData

,a,b,c,d,e,f,g,h,i,j,k,l,m,n
index,,,,,,,,,,,,,,
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [82]:
x_train=houseData.iloc[:,0:13]
y_train=houseData.iloc[:,13]

In [102]:
x_train.values

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [97]:
type(x_train)

pandas.core.frame.DataFrame

In [98]:
type(y_train)

numpy.ndarray

In [107]:
houseClass = SVR(kernel='linear')
houseClass.fit(x_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [108]:
houseClass.score(x_train,y_train)

0.7243235903625921